@import "../../../scss/variables.scss";
@import '../../../scss/mixins.scss';

.user-list {
  width: 90%;
  margin: 2rem auto 0 auto;

  &__info {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h1 {
      font-weight: bold;
      padding: 0;
    }

    & .button {
      justify-self: flex-end;
    }
  }
  &__table {
    width: 100%;
    padding: 2rem 4rem;
    border-collapse: collapse;

    & th {
      font-size: 1.6rem;
      padding-bottom: 1rem;
    }

    & td {
      padding: 2rem 0;
    }

    & tr {
      text-align: center;
      font-size: 1.6rem;
      border-bottom: 2px solid $light-bg;
    }

    & .email {
      @include responsive(phone-s) {
        display: none;
      }
    }

    & .role {
      max-width: 6.5rem;
      width: 6.5rem;
    }

    & .date {
      @include responsive(tablet) {
        display: none;
      }
    }

    & .actions {
      @include responsive(tablet) {
        max-width: 6rem;
        width: 6rem;
      }
    }

  }

  &__icon { // img tag
    display: inline-block;
    height: 3rem;
    width: auto;
    padding: .5rem;
    margin-left: 1rem;
    border-radius: .5rem;
    background-color: $light-bg;
    cursor: pointer;

    &--green {
      background-color: $success-color;
    }

    &--red {
      background-color: $error-color;
    }
  }
}
