/* You can add global styles to this file, and also import other style files */
@import "./scss/variables.scss";
@import "./scss/mixins.scss";
@import "./scss/animations.scss";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
}

a, a:visited {
  color: white;
  text-decoration: none;
  display: block;
}

// helpers
.success-color {
  color: $success-color;
}

.error-color {
  color: $error-color;
}

.capitalize {
  text-transform: capitalize;
}

.active-link {
  background-color: $primary-color-light;
}

// Material styles
.mat-dialog-container {
  border-radius: 2.5rem !important;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0,0,0,.70);
}

.mat-progress-bar-fill::after {
  background-color: $primary-color;
}


// General content styles
.content {
  margin-left: 18rem;
  height: calc(100% - 6rem); // 5 rem is the height of the Header
  // overflow-y: scroll;
  transition: all .3s ease;
  position: relative;


  @include responsive(phone) {
    margin-left: 6rem;
    width: calc(100% - 6rem);
  }
}

// Forms general styles
.form {
  padding: 2rem 4rem;

  &__field {
    // margin-bottom: 2.5rem;
    height: 7.5rem;
  }

  & legend {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: $primary-color-dark;
    font-weight: 600;
  }

  & label {
    width: 100%;
    display: block;
  }

  & input, & select {
    width: 100%;
    height: 4rem;
    background-color: white;
    border-style: none;
    outline: none;
    padding-left: 1rem;
    border-bottom: .2rem solid $primary-color;
    font-size: 1.4rem;
    cursor: text;
    transition: all .3s ease;
    color: $primary-color-dark
  }

  & select {
    cursor: default;
    border: .2rem solid $primary-color;
  }

  & input::placeholder {
    color: $primary-color;
  }

  & input:focus {
    background-color: $light-bg;
  }
}

// Form errors styles
.form-messages {
  font-size: 1rem;
  font-weight: bold;
  &__error {
    color: $error-color;
  }
}

.form-bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 4.5rem;

  &--horizontal {
    flex-direction: row;
  }
}

// Disabled styles
.disabled, .disabled:hover {
  background: rgba(204, 204, 204, 0.699) !important;
  border-color: rgba(204, 204, 204, 0.699) !important;
  color: white !important;
  cursor: default !important;
}

// Button styles
.button {
  display: block;
  padding: .6rem 1.6rem;
  border: none;
  background-color: $primary-color;
  border: .2rem solid $primary-color;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s ease;
  outline: none;
  border-radius: .5rem;
  font-size: 1.4rem;

  &--cancel {
    background-color: $error-color;
    border-color: $error-color;

    &:hover {
      background-color: white;
      border-color: $error-color !important;
      color: $error-color !important;
    }
  }
}

.button:hover {
  background-color: white;
  border: .2rem solid $primary-color;
  color: $primary-color;
}

// Scrollable container
.scrollable {
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: .5rem;
    background-color: $light-bg;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(189, 189, 189);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }

  // &::-webkit-scrollbar-thumb:window-inactive {
  //   background: grey;
  // }
}

// Notifications
.notification {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
  font-weight: bold;
  width: 25rem;
  padding: 1rem 2rem;
  border-top-left-radius: 1.6rem;
  animation: bottom-to-up .3s ease;

  &--error {
    background-color: $error-color;
  }
  &--success {
    background-color: $primary-color-dark;
  }
}
